html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
/*  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;
  z-index: 3;*/
}

a {
  text-decoration: none;
  color: #ffffff;
}

/*---GRID---*/

.row {
  display: flex;
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.col-1-of-2 {
  flex: 0 1 50%;
  max-width: 50%;
}

.col-1-of-4 {
  flex: 0 1 25%;
  max-width: 25%;
}

/*---/GRID---*/

.index-wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  background-image: linear-gradient(#f26843, #e74a35);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(#f58669, #ec6f5e);
}

.btn:active {
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---HEADER---*/

.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-right: 2.3%;
  padding-left: 2.3%;
}

/*MAIN NAVIGATION*/

.main-navigation {
  display: flex;
  line-height: 18px;
}

.main-header-menu,
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-menu {
  display: flex;
  margin-left: 9px;
  margin-top: 13px;
  margin-bottom: 20px;
}

.main-menu-item > a {
  display: block;
  padding: 8px 14px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.main-menu-item:hover a,
.main-menu-item:focus-within a,
.main-menu-item a:hover,
.main-menu-item a:focus-within {
  text-decoration: none;
  color: #323232;
  background-color: #f7f6f3;
}

.main-menu-item a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

.main-menu-catalog {
  position: relative;
}

.main-menu-catalog:hover .sub-menu,
.main-menu-catalog:focus-within .sub-menu,
.main-menu-catalog a:hover ~ .sub-menu,
.main-menu-catalog a:focus-within ~ .sub-menu {
  visibility:visible;
  opacity:1;
  transition-delay: 0s;
}

.sub-menu {
  visibility:hidden;
  position: absolute;
  top: 39px;
  left: -6px;
  padding: 5px 0;
  width: 143px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
  overflow: hidden;
  opacity:0;
  transition:visibility 0.5s ease-in 0s, opacity 0.5s linear;
}

.sub-menu a {
  display: block;
  padding: 8px 5px 8px 19px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
}

.sub-menu a:active {
  box-shadow: none;
  background-color: #f6b5a5;
}

.sub-menu-item:first-child a {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*---USER BLOCK---*/

.user-block {
  display: flex;
  padding-top: 14px;
  padding-bottom: 20px;
}

.user-block-item {
  position: relative;
  margin-left: 9px;
}

.user-block-item input {
  font-size: 14px;
  line-height: 24px;
}

.user-block-item a {
  position: relative;
  display: block;
  padding: 8px 15px 8px 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-block-item:hover a,
.user-block-item:focus a,
.user-block-item a:hover,
.user-block-item a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block-search:hover .search,
.user-block-search:focus-within .search {
  visibility: visible;
  opacity:1;
  transition-delay: 0s;
}

.search {
  visibility: hidden;
  position: absolute;
  top: 32px;
  right: 0;
  margin-top: 5px;
  padding: 20px 15px;
  width: 342px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
  opacity:0;
  transition:visibility 0.5s ease-in 0s, opacity 0.5s linear;
}

.search input,
.login-form input {
  padding: 9px 15px;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.user-block-search .search-btn {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search-btn::before,
.login-btn::before,
.cart-btn::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.search-btn::before {
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url(../img/svg/loupe.svg);
}

.user-block-search:hover .search-btn::before,
.user-block-search:focus-within .search-btn::before {
  background-image: url(../img/svg/loupe-black.svg);
}

.user-block-login {
  position: relative;
}

.user-block-login:hover .login-form,
.user-block-login:focus-within .login-form {
  visibility: visible;
  opacity:1;
  transition-delay: 0s;
}

.login-btn::before {
  top: 6px;
  left: 18px;
  width: 21px;
  height: 19px;
  background-image: url(../img/svg/entrance.svg);
}

.user-block-login:hover .login-btn::before,
.user-block-login:focus-within .login-btn::before {
  background-image: url(../img/svg/entrance-bl.svg);
}

.login-form {
  visibility: hidden;
  position: absolute;
  top: 37px;
  right: -3px;
  width: 275px;
  padding: 20px 17px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition:visibility 0.5s ease-in 0s, opacity 0.5s linear;
  z-index: 3;
}

.login-form input {
  margin-bottom: 19px;
}

.login-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.login-form .btn {
  padding: 11px 25px;
}

.login-form-bottom .reg-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reg-links a {
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  color: #323232;
}

.reg-links a:hover,
.reg-links a:active,
.reg-links a:focus {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.user-block-cart a {
  padding-right: 35px;
}

.cart-btn::before {
  top: 6px;
  left: 19px;
  width: 21px;
  height: 20px;
  background-image: url(../img/svg/cart.svg);
}

.user-block-cart:hover .cart-btn::before,
.user-block-cart:focus-within .cart-btn::before {
  background-image: url(../img/svg/cart-bl.svg);
}

.phone {
  position: absolute;
  top: 72px;
  right: 2.3%;
  text-align: right;
  z-index: 2;
}

.phone p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*----MAIN-----*/

.container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

/*---SLIDER---*/

.slider {
  padding-right: 2.3%;
  padding-left: 2.3%;
}

.slider-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slide {
  position: relative;
}

.slide img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: -17px;
  z-index: 1;
}

.slide h2 {
  position: absolute;
  top: 311px;
  left: calc((100% - 650px)/2);
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  z-index: 3;
}

.slide a {
  position: absolute;
  top: 460px;
  left: calc((100% - 280px)/2);
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 10px 40px 12px 40px;
  font-size: 32px;
  line-height: 44px;
  z-index: 3;
}

.slide-one {
  display: none;
}

.slide-one h2 {
  width: 690px;
  left: calc((100% - 690px)/2);
}

.slide-two {
  display: none;
}

.slide-three {
  display: none;
}

#switch-one:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url(../img/flash-bg-slide-1.png);
}

#switch-one:checked ~ .index-wrapper .slide-one {
  display: block;
}

#switch-two:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url(../img/flash-bg-slide-2.png);
}

#switch-two:checked ~ .index-wrapper .slide-two {
  display: block;
}

#switch-three:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/flash-bg-slide-3.png);
}

#switch-three:checked ~ .index-wrapper .slide-three {
  display: block;
}

#switch-one:checked ~ .index-wrapper #slide-label-one::after {
  visibility: visible;
}

#switch-two:checked ~ .index-wrapper #slide-label-two::after {
  visibility: visible;
}

#switch-three:checked ~ .index-wrapper #slide-label-three::after {
  visibility: visible;
}

.slider-controls {
  position: absolute;
  top: 563px;
}

.label-dot {
  margin-right: 30px;
}

.label-dot:hover::after {
  visibility: visible;
  opacity: 0.5;
}

.label-dot::before {
  content: "";
  position: absolute;
  top: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.label-dot::after {
  visibility: hidden;
  content: "";
  position: absolute;
  top: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

/*---PROMOTION---*/

.promotion-list {
  position: relative;
  margin-top: 0;
  margin-bottom: 40px; 
  list-style: none;
  z-index: 1;
}

.promotion-item {
  padding: 16px 20px 24px 18px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.promotion-item.promo-1 {
  margin-right: 1.1%;
  background-color: #c81745;
  background-image: url(../img/raspberry-bg.jpg);
}

.promotion-item.promo-2 {
  margin-left: 1.1%;
  background-color: #522c0e;
  background-image: url(../img/choco-bg.jpg);
}

.promotion-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.promotion-item p {
  margin: 0;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotion-item a {
  display: block;
  margin-left: auto;
  padding: 11px 22px;
  width: 165px;
  font-size: 18px;
  line-height: 24px;
}

.promo-2 a {
  width: 190px;
}

/*---OFFERS---*/

.offers-list,
.catalog-list {
  margin: 0;
  margin-bottom: 38px;
  list-style: none;
}

.offers-item,
.catalog-item {
  flex: 0 1 23.3%;
  position: relative;
  margin-right: 2.2%;
}

.offers-item:last-child,
.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.offers-item img,
.catalog-item img {
  margin-bottom: 6px;
  width: 100%; 
  height: auto; 
  border-radius: 50%;
}

.offer-item-img-wrapper,
.catalog-item-img-wrapper {
  position: relative;
  z-index: 3;
}

.offer-item-img-wrapper::before,
.catalog-item-img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/svg/hit.svg);
  background-color: #fff;
  border-radius: 50%;
}

.price {
  position: absolute;
  bottom: 20px;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price span {
  font-size: 30px;
}

.offers-item h3,
.catalog-item h3 {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;
}

.offers-item a,
.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.offers-item a:hover,
.offers-item a:focus,
.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

.offers-item-popup,
.catalog-item-popup {
  visibility: hidden;
  position: absolute;
  width: 108%;
  height: 125%;
  top: -2%;
  left: -4%;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.btn-center {
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100%;
  text-align: center;
}

.offers-item-popup .btn,
.catalog-item-popup .btn {
  padding: 15px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.offers-item:hover .offers-item-popup,
.catalog-item:hover .catalog-item-popup {
  visibility: visible;
}

.catalog-item:hover .catalog-item-img-wrapper,
.catalog-item:hover h3,
.offers-item:hover .offer-item-img-wrapper,
.offers-item:hover h3 {
  z-index: 5;
}

/*---INFO---*/

.info {
  padding-right: 2.3%;
  padding-left: 2.3%;

}

.info-list-wrapper {
  margin-bottom: 40px;
  padding: 25px 20px 2px 20px;
  background-color: #eee3cf; 
  background-image: url(../img/wafle-bg.jpg);
  background-repeat: repeat-x;
  border-radius: 15px;
}

.info p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  letter-spacing: 0.16px;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #323232;
}

.info-item {
  position: relative;
  flex: 0 1 48.88%;
  margin-right: 1.1%;
  margin-bottom: 22px;
  padding-left: 57px; 
}

.info-item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/ice-cream.svg);
  background-repeat: no-repeat;
}

.info-item-cow::before {
  background-image: url(../img/svg/cow.svg);
}

.info-item-leaf::before {
  background-image: url(../img/svg/eco.svg);
}

.info-item-deg::before {
  background-image: url(../img/svg/thermometer.svg);
}

.info-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 1.1%;
  padding-right: 5px;
}

/*---BLOG-SUBSCR---*/

.blog-subscription {
  margin-bottom: 40px;
}

.blog {
  margin-right: 1.1%;
  padding: 24px 20px 20px 20px;
  background-color: #fff;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog h4 {
  margin: 0;
  width: 290px;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
}

.blog a:hover,
.blog a:focus {
  color: #e84d37;
}

.subscription {
  margin-left: 1.1%;
  background-image: url(../img/svg/bg-post.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.sub-wrapper {
  margin: 5px;
  padding: 13px 15px 5px 22px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription p {
  color: #5a5a5a;
  margin-bottom: 35px;
}

.subscription-form {
  display: flex;
  margin-bottom: 31px;
}

.subscription-form input {
  flex: 0 1 100%;
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.subscription-form button {
  margin-right: 5px;
  padding: 10px 20px;
}

/*---MAP---*/

.map {
  position: relative;
  left: 50%;
  width: 99.225vw;
  height: 430px;
  min-width: 900px; 
  margin-left: -49.59vw;
}

.map-feedback-block-wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 900px;
}

.map-feedback-block {
  position: absolute;
  top: -369px;
  right: 2.3%;
  padding: 30px 25px;
  width: 302px;
  background-color: #fefefe;
  border-radius: 15px;
}

.adress {
  margin-bottom: 10px;
}

.map-feedback-block p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-feedback-block .bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-feedback-block a {
  font-size: 18px;
  line-height: 24px;
}

.phone-number a {
  color: #323232;
}

.phone-number p:first-child {
  margin-top: 19px;
  margin-bottom: 5px;
}

.map-feedback-block .btn {
  margin-top: 24px;
  display: block;
  padding: 11px 26px;
  width: 250px;
}

/*---FOOTER---*/

.footer {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.footer-wrapper {
  margin-top: 15px;
  padding-bottom: 25px;
  align-items: center;
}

.footer-social {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item a {
  display: block;
  margin-right: 13px;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-item a:hover,
.social-item a:focus {
  border: 2px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-item a:active {
  opacity: 0.8;
}

.social-tw {
  background-image: url(../img/svg/twitter.svg);
}

.social-in {
  background-image: url(../img/svg/instagram.svg);
}

.social-fb {
  background-image: url(../img/svg/fb.svg);
}

.social-vk {
  background-image: url(../img/svg/vk.svg);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  height: 50px;
  margin: 0;
  margin-top: 15px;
  margin-left: 2.2%;
  margin-right: 2.2%;
  padding: 0;
  padding-left: 2.2%;
  list-style: none;
}

.footer-links-item {
  position: relative;
  margin-right: 32px;
}

.footer-links-item a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-links-item a:hover,
.footer-links-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.footer-links-item:first-child a {
  font-weight: 700;
}

.footer-links-item:first-child a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.designby {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
}

.designby img {
  margin-right: 80px;
}

.designby p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

/*---FEEDBACK FORM---*/

.modal-feedback {
  display: none;
  background-color: #f8f7f4;
}

.modal-feedback h2{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
} 

/*===CATALOG.HTML===*/

.main-menu-link.active,
.sub-menu-link.active,
.main-menu-catalog:hover .active,
.main-menu-catalog:focus-within .active {
  background-color: #d07058;
}

.main-menu-catalog:hover > .active,
.main-menu-catalog:focus-within > .active {
  background-color: #f7f6f3;
}

.cart-btn.full {
  padding-right: 17px;
}

.cart-btn.full::before,
.user-block-cart .cart-btn.full::before {
  background-image: url(../img/svg/cart-red.svg);
}

/*DROPDOWN-CART*/

.cart-dropdown-wrapper {
  visibility:hidden;
  position: absolute;
  top: 37px;
  right: 0;
  width: 540px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 5;
  opacity:0;
  transition:visibility 0.5s ease-in 0s, opacity 0.5s linear;
}

.user-block-cart:hover .cart-dropdown-wrapper,
.user-block-cart:focus-within .cart-dropdown-wrapper {
  visibility:visible;
  opacity:1;
  transition-delay: 0s;
}

.cart-dropdown {
  padding-top: 12px;
  padding-left: 10px;
  font-size: 13px;
  color: #323232;
}

.cart-dropdown span {
  color: #999999;
}

.cart-dropdown tr:last-child {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.cart-dropdown tr {
  vertical-align: top;
}

.table-row td {

  padding-left: 10px;
  padding-top: 10px;
}

.table-row td:first-child {
  padding-left: 0;
}

.table-row td:nth-child(4) {
  padding-left: 16px;
}

.table-row td:last-child {
  padding-left: 25px;
  padding-right: 20px;
}

.item-name {
  padding-right: 10px;
  width: 240px;
  line-height: 18px;
}

.summary {
  border-top: 1px solid #cacac7;
  padding-top: 20px;
}

.delete-btn {
  position: relative;
  border: none;
  background-color: #f8f7f4;
}

.delete-btn:focus {
  outline: none;
}

.delete-btn::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  width: 11px;
  height: 11px;
  background-image: url(../img/svg/cross-small.svg);
  background-repeat: no-repeat;
}

.delete-btn:hover::before,
.delete-btn:focus::before {
  background-image: url(../img/svg/cross-big.svg);
  top: -8px;
  left: 2px;
  width: 18px;
  height: 17px;
}

.cart-dropdown-wrapper .btn {
  margin-left: auto;
  margin-right: 13px;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 11px 10px;
  width: 170px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 25px; 
  color: #ffffff;
}

.user-block-cart:hover .btn,
.user-block-cart:focus-within .btn {
  color: #ffffff;
}

/*----MAIN-CATALOG----*/

.container-catalog {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

/*---BREADCRUMBS---*/

.container-catalog .row {
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 2px;
  list-style: none;
}

.breadcrumbs li {
  margin: 0;
  padding-right: 7px;
}

.breadcrumbs li::after {
  padding-left: 7px;
  content: "»";
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

/*---FILTER---*/

.container-catalog h1 {
  margin: 0;
  width: 100%;
  font-size: 35px;
  line-height: 41px;
}

.filter {
  margin-bottom: 40px;
}

.filter-form h3,
.filter-form p {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 6px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form label {
  line-height: 18px;
  font-weight: 500;
}

.filter-form-sort {
  margin-right: 19px;
}

.filter-form-sort select {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 14px;
  width: 190px;
  font-weight: 500;
  color: #ffffff;
  background: url(../img/svg/select-arrow.svg) 92% / 9% no-repeat rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.filter-form-sort select::-ms-expand { 
    display: none;
}

.filter-form-sort select:hover,
.filter-form-sort select:focus {
  color: #000000;
  background: url(../img/svg/select-arrow-bl.svg) 92% / 9% no-repeat rgba(255, 255, 255, 0.2);
}

.filter-form-price {
  margin-right: 14px;
}

.price-controls input {
  width: 26px;
  height: 16px;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.range-controls .scale {
  position: absolute;
  top: 17px;
  height: 4px;
  width: 180px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  margin-left: 10%; 
  width: 60%;
  height: 4px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #99aea2;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover,
.range-controls .toggle:focus {
  top: 7px;
  width: 24px;
  height: 24px;
  border-width: 10px;
}

.range-controls .toggle-min {
  left: 32px;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-min:focus {
  left: 30px;
}

.range-controls .toggle-max {
  left: 130px;
}

.range-controls .toggle-max:hover,
.range-controls .toggle-max:focus {
  left: 128px;
}

.fat-wrapper {
  padding: 9px 20px 7px 7px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.fat-wrapper input {
  display: none;
}

.fat-wrapper label {
  position: relative;
  margin-left: 42px;
  cursor: pointer;
}

.fat-wrapper label::before,
.fat-wrapper label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.fat-wrapper label::before {
  top: -3px;
  left: -36px;
  width: 23px;
  height: 23px;
  border: solid 4px #ffffff;
  opacity: 0.8;
}

.fat-wrapper label::after {
  display: none;
  top: 4px;
  left: -29px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  opacity: 0.8;
}

.fat-wrapper label:hover::after,
.fat-wrapper label:hover::before {
  opacity: 1;
}

.fat-wrapper input:checked + label::after {
  display: block;
}

.filter-form-filler h3 {
  margin-top: 15px;
}

.filler-wrapper {
  padding: 8px 20px 6px 7px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filler-wrapper input {
  display: none;
}

.filler-wrapper label {
  position: relative;
  margin-left: 49px;
  cursor: pointer;
}

.filler-wrapper label[for = "filler-1"] {
  margin-left: 39px;
}

.filler-wrapper label::before,
.filler-wrapper label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  height: 23px;
  background-repeat: no-repeat;
}

.filler-wrapper label::before {
  width: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
  opacity: 0.8;
}

.filler-wrapper label::after {
  display: none;
  width: 26px;
  background-image: url(../img/svg/checkbox-on.svg);
  opacity: 0.8;
}

.filler-wrapper label:hover::after,
.filler-wrapper label:hover::before {
  opacity: 1;
}

.filler-wrapper input:checked + label::after {
  display: block;
}

.filler-wrapper input:checked + label::before {
  display: none;
}

.fat-wrapper input:disabled + label::after,
.fat-wrapper input:disabled + label::before,
.filler-wrapper input:disabled + label::after,
.filler-wrapper input:disabled + label::before {
  opacity: 0.4;
}

.filter-btn {
  align-self: flex-end;
  margin-left: 15px;
  padding: 7px 26px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 20px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;
  background-color: #fbfcfb;
  border: none;
  padding: 9px 28px;
}

.filter-btn:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

/*-----CATALOG------*/

.catalog {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item {
  margin-bottom: 37px;
}

/*---PAGINATOR---*/

.paginator {
  display: flex;
  padding: 0 2.3%;
  margin-bottom: 25px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 5px;
  list-style: none;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list a {
  display: block;
  width: 26px;
  height: 26px;
  padding-top: 3px;
  text-align: center;
  font-weight: 500;
  border-radius: 50%;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;
  background-color: #fff;
}

.pagination-item-current a {
  color: #323232;
  background-color: #fff;
}

.pagination-list .disabled {
  opacity: 0.5;
}

.pagination-list .disabled:hover,
.pagination-list .disabled:focus {
  background-color: transparent;
}

.pagination-list .disabled:active {
  color: #fff;
  background-color: transparent;
}

.pagination-item .left,
.pagination-item .right {
  background-image: url(../img/svg/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-item .left {
  transform: rotate(180deg);
}

.pagination-item .right:active {
  background-image: url(../img/svg/icon-right-small-bl.svg);
}