*, *!::before, *!::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.index-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(#f26843, #e74a35);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-image: linear-gradient(#f58669, #ec6f5e);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---HEADER---*/

.main-header {
  display: flex;
  margin: 0 auto;
  padding: 10px 26px 0 26px;
  max-width: 1148px;
  min-width: 848px;
}

/*MAIN NAVIGATION*/

.main-navigation {
  display: flex;
  width: 534px;
  line-height: 18px;
}

.main-header-menu {
  display: flex;
}

.main-header-menu,
.sub-menu {
  list-style: none;
}

.main-header-menu  a {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.main-header-menu  a:hover,
.main-header-menu  a:focus {
  text-decoration: none;
  color: #323232;
  background-color: #ffffff;
}

.sub-menu {
  display: none;
}

.sub-menu a {
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

/*---USER BLOCK---*/

.user-block-wrapper {
  width: 267px;
  margin-left: auto;
}

.user-block {
  display: flex;
}

.user-block-item .search {
  display: none;
  background-color: #f8f7f4;
}

.user-block-item input {
  font-size: 14px;
  line-height: 24px;
}

.user-block-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-block-item a:hover,
.user-block-item a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block-item .login-form {
  display: none;
  background-color: #f8f7f4;
}

.login-form-bottom .reg-links {
  list-style: none;
}

.reg-links a {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  color: #323232;
}

.reg-links a:hover,
.reg-links a:active,
.reg-links a:focus {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.phone p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*---SLIDER---*/

.slider {
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  margin-top: -50px;
  padding: 0 26px;
}

.slider-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slide img {
  display: block;
  margin: 0 auto;
}

.slide h2 {
  display: block;
  margin: 0 auto;
  margin-top: -280px;
  padding: 0;
  width: 650px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slide a {
  font-size: 32px;
  line-height: 44px;
}

.slide-one {
  display: none;
}

.slide-two {
  display: none;
}

.slide-three {
  display: none;
}

#switch-one:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url(../img/flash-bg-slide-1.png);
}

#switch-one:checked ~ .index-wrapper .slide-one {
  display: block;
}

#switch-one:checked ~ .index-wrapper .slide-one h2 {
  width: 690px;
}

#switch-two:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url(../img/flash-bg-slide-2.png);
}

#switch-two:checked ~ .index-wrapper .slide-two {
  display: block;
}

#switch-three:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/flash-bg-slide-3.png);
}

#switch-three:checked ~ .index-wrapper .slide-three {
  display: block;
}

/*---PROMOTION---*/

.promotion {
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 26px;
}

.promotion-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promotion-item {
  flex-basis: 50%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.promotion-item.promo-1 {
  margin-right: 13px;
  background-image: url(../img/raspberry-bg.jpg);
}

.promotion-item.promo-2 {
  margin-left: 13px;
  background-image: url(../img/choco-bg.jpg);
}

.promotion-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.promotion-item p {
  font-weight: 700;
}

.promotion-item a {
  font-size: 18px;
  line-height: 24px;
}

/*---OFFERS---*/

.offers {
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 26px;
}

.offers-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-item {
  margin-right: 26px;
  flex-basis: 25%;
}

.offers-item:last-child {
  margin-right: 0;
}

.offers-item .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price {
  margin: 0;
}

.price span {
  font-size: 30px;
}

.offers-item img {
  width: 100%;
  border-radius: 50%;
}

.offers-item h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.offers-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.offers-item a:hover,
.offers-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

/*---INFO---*/

.info {
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 26px;
}

.info-list-wrapper {
  background-color: #eee3cf; 
  border-radius: 15px;
}

.info p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #323232;
}

.info-item {
  flex-basis: 50%;
}

/*---BLOG-SUBSCR---*/

.blog-subscription {
  display: flex;
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 26px;
}

.blog {
  flex-basis: 50%;
  margin-right: 13px;
  background-image: url(../img/strawberry-bg.jpg);
  border-radius: 15px;
}

.blog h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.blog a:hover,
.blog a:focus {
  color: #e84d37;
}

.subscription {
  flex-basis: 50%;
  margin-left: 13px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription p {
  color: #5a5a5a;
}

/*---MAP---*/

.map {
  margin-bottom: 40px;
}

.map-feedback-block-wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.map-feedback-block {
  position: absolute;
  top: -416px;
  right: 26px;
  width: 302px;
  background-color: #fefefe;
  border-radius: 15px;
}

.map-feedback-block p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-feedback-block .bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-feedback-block a {
  font-size: 18px;
  line-height: 24px;
}

.phone-number a {
  color: #323232;
}

/*---FOOTER---*/

.footer {
  display: flex;
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  padding: 0 26px;
}

.footer-social,
.footer-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social {
  width: 267px;
  margin-right: 26px;
}

.footer-links {
  width: 560px;
  margin-right: 26px;
}

.footer-social a,
.footer-links-item a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-social a:hover,
.footer-social a:focus,
.footer-links-item a:hover,
.footer-links-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.footer-links-item:first-child a {
  font-weight: 700;
}

.designby {
  width: 267px;
}

.designby p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

/*---FEEDBACK FORM---*/

.modal-feedback {
  display: none;
  background-color: #f8f7f4;
}

.modal-feedback h2{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
} 

/*===CATALOG.HTML===*/

.container-catalog {
  max-width: 1148px;
  min-width: 848px;
  margin: 0 auto;
  padding: 0 26px;
}

.main-menu-link.active,
.sub-menu-link.active {
  background-color: #d07058;
}

.cart-dropdown-wrapper {
  display: none;
  background-color: #f8f7f4;
}

.cart-dropdown-wrapper .btn {
  font-size: 18px;
  line-height: 24px;
}

.cart-dropdown-wrapper .btn:hover {
  color: #ffffff;
}

.cart-dropdown {
  font-size: 13px;
  color: #323232;
}

.cart-dropdown span {
  color: #999999;
}

.cart-dropdown tr:last-child {
  font-size: 15px;
  font-weight: 700;
}

/*---BREADCRUMBS---*/

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

/*---FILTER---*/

.container-catalog h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
}

.filter-form h3,
.filter-form p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form label {
  line-height: 18px;
  font-weight: 500;
}

.fat-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
}

.filler-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-btn {
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 15px;
}

.filter-btn:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter select {
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.filter select:hover {
  color: #000000;
}

/*---CATALOG_SECTION---*/

.catalog {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  margin-right: 26px;
  flex-basis: 23.3%;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price span {
  font-size: 30px;
}

.catalog-item h3 {
  text-align: center;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

.catalog-item img {
  width: 100%;
  border-radius: 50%;
}

/*---PAGINATOR---*/

.pagination-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-bottom: 30px;
  width: 267px;
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}
