html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  background-image: url(../img/c.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.5;
  z-index: 3
}

a {
  text-decoration: none;
  color: #ffffff;
}

/*---GRID---*/

.row {
  display: flex;
  padding-right: 2.24%;
  padding-left: 2.24%;
}

.col {
  flex: 0 1 100%;
  max-width: 100%;
}

.col-1-of-2 {
  flex: 0 1 50%;
  max-width: 50%;
}

.col-1-of-4 {
  flex: 0 1 25%;
  max-width: 25%;
}

/*---/GRID---*/

.index-wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-header,
.slider,
.promotion,
.offers,
.info,
.blog-subscription,
.container-catalog,
.footer {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  background-image: linear-gradient(#f26843, #e74a35);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(#f58669, #ec6f5e);
}

.btn:active {
  background-image: linear-gradient(#e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---HEADER---*/

.main-header {
  position: relative;
  padding-top: 9px;
  padding-bottom: 5px;
}

.main-header .wrapper {
  display: flex;
  justify-content: space-between;
}

/*MAIN NAVIGATION*/

.main-navigation {
  display: flex;
  line-height: 18px;
}

.main-header-menu,
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-menu {
  display: flex;
  margin-left: 9px;
  margin-top: 13px;
  margin-bottom: 20px;
}

.main-menu-item a {
  display: block;
  padding: 8px 14px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.main-menu-item:hover a,
.main-menu-item:focus a {
  text-decoration: none;
  color: #323232;
  background-color: #ffffff;
}

.main-menu-item a:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
}

.main-menu-catalog {
  position: relative;
}

.main-menu-catalog:hover .sub-menu,
.main-menu-catalog:focus .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 39px;
  width: 145px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
  overflow: hidden;
}

.sub-menu a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.sub-menu a:hover,
.sub-menu a:focus {
  background-color: #fbded7;
  border-radius: 0px;
}

.sub-menu a:active {
  background-color: #f6b5a5;
}

/*---USER BLOCK---*/

.user-block {
  display: flex;
  padding-top: 14px;
  padding-bottom: 20px;
}

.user-block-item {
  position: relative;
  margin-left: 9px;
}

.user-block-item input {
  font-size: 14px;
  line-height: 24px;
}

.user-block-item a {
  position: relative;
  display: block;
  padding: 8px 15px 8px 45px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.user-block-item:hover a,
.user-block-item:focus a,
.user-block-item a:hover,
.user-block-item a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-block-search:hover .search,
.user-block-search:focus .search {
  display: block;
}

.search {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  margin-top: 5px;
  padding: 20px 15px;
  width: 342px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.search input {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.user-block-search .search-btn {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search-btn::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 17px;
  height: 17px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><path fill="#fff" d="M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z"/></svg>');
  background-repeat: no-repeat;
}

.user-block-search:hover .search-btn::before,
.user-block-search:focus .search-btn::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" viewBox="0 0 17 17"><path fill="#000" d="M16.958 15.527L11.75 10.32A6.455 6.455 0 0 0 13 6.5 6.5 6.5 0 1 0 6.5 13a6.465 6.465 0 0 0 3.839-1.263l5.205 5.204 1.414-1.414zM6.5 11C4.019 11 2 8.981 2 6.5S4.019 2 6.5 2 11 4.019 11 6.5 8.981 11 6.5 11z"/></svg>');
}

.user-block-item .login-form {
  display: none;
  background-color: #f8f7f4;
}

.user-block-cart a {
  padding-right: 35px;
}

.login-form-bottom .reg-links {
  list-style: none;
}

.reg-links a {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  color: #323232;
}

.reg-links a:hover,
.reg-links a:active,
.reg-links a:focus {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.phone {
  position: absolute;
  top: 72px;
  right: 2.24%;
  text-align: right;
  z-index: 2;
}

.phone p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone a {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/*---SLIDER---*/

.slider-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slide {
  position: relative;
}

.slide img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: -17px;
  z-index: 1;
}

.slide h2 {
  position: absolute;
  top: 311px;
  left: calc((100% - 650px)/2);
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  z-index: 3;
}

.slide a {
  position: absolute;
  top: 460px;
  left: calc((100% - 280px)/2);
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 10px 40px 12px 40px;
  font-size: 32px;
  line-height: 44px;
  z-index: 3;
}

.slide-one {
  display: none;
}

.slide-one h2 {
  width: 690px;
  left: calc((100% - 690px)/2);
}

.slide-two {
  display: none;
}

.slide-three {
  display: none;
}

#switch-one:checked ~ .index-wrapper {
  background-color: #849d8f;
  background-image: url(../img/flash-bg-slide-1.png);
}

#switch-one:checked ~ .index-wrapper .slide-one {
  display: block;
}

#switch-two:checked ~ .index-wrapper {
  background-color: #8996a6;
  background-image: url(../img/flash-bg-slide-2.png);
}

#switch-two:checked ~ .index-wrapper .slide-two {
  display: block;
}

#switch-three:checked ~ .index-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/flash-bg-slide-3.png);
}

#switch-three:checked ~ .index-wrapper .slide-three {
  display: block;
}

#switch-one:checked ~ .index-wrapper .label-one::after {
  visibility: visible;
}

#switch-two:checked ~ .index-wrapper .label-two::after {
  visibility: visible;
}

#switch-three:checked ~ .index-wrapper .label-three::after {
  visibility: visible;
}

.slider-controls {
  position: absolute;
  top: 563px;
}

.label-dot {
  margin-right: 30px;
}

.label-dot:hover::after {
  visibility: visible;
  opacity: 0.5;
}

.label-dot::before {
  content: "";
  position: absolute;
  top: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.label-dot::after {
  visibility: hidden;
  content: "";
  position: absolute;
  top: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

/*---PROMOTION---*/

.promotion-list {
  position: relative;
  margin: 0;
  margin-bottom: 40px; 
  list-style: none;
  z-index: 1;
}

.promotion-item {
  padding: 16px 20px 24px 18px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.promotion-item.promo-1 {
  margin-right: 1.12%;
  background-image: url(../img/raspberry-bg.jpg);
}

.promotion-item.promo-2 {
  margin-left: 1.12%;
  background-image: url(../img/choco-bg.jpg);
}

.promotion-item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.promotion-item p {
  margin: 0;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotion-item a {
  display: block;
  margin-left: auto;
  padding: 11px 22px;
  width: 165px;
  font-size: 18px;
  line-height: 24px;
}

.promo-2 a {
  width: 190px;
}

/*---OFFERS---*/

.offers-list {
  margin: 0;
  margin-bottom: 38px;
  list-style: none;
}

.offers-item {
  position: relative;
  margin-right: 2.24%;
}

.offers-item:last-child {
  margin-right: 0;
}

.offers-item .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price {
  position: absolute;
  top: 64%;
  margin: 0;
  padding: 0;
}

.price span {
  position: relative;
  padding-left: 34px;
  font-size: 30px;
}

.price span::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 1px;
  width: 30px;
  height: 37px;
  background-image: url(../img/svg/ruble.svg);
}

.offers-item img {
  margin-bottom: 6px;
  width: 100%; 
  height: auto; 
  border-radius: 50%;
}

.offers-item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/svg/hit.svg);
  background-color: #fff;
  border-radius: 50%;
}

.offers-item h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.offers-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.offers-item a:hover,
.offers-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

/*---INFO---*/

.info-list-wrapper {
  margin-bottom: 40px;
  padding: 25px 20px 2px 20px;
  background-color: #eee3cf; 
  border-radius: 15px;
}

.info p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  letter-spacing: 0.16px;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #323232;
}

.info-item {
  position: relative;
  flex: 0 1 48.88%;
  margin-right: 1.12%;
  margin-bottom: 22px;
  padding-left: 57px; 
}

.info-item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 49px;
  height: 49px;
  background-image: url(../img/svg/ice-cream.svg);
  background-repeat: no-repeat;
}

.info-item-cow::before {
  background-image: url(../img/svg/cow.svg);
}

.info-item-leaf::before {
  background-image: url(../img/svg/eco.svg);
}

.info-item-deg::before {
  background-image: url(../img/svg/thermometer.svg);
}

.info-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 1.12%;
  padding-right: 5px;
}

/*---BLOG-SUBSCR---*/

.blog-subscription {
  margin-bottom: 40px;
}

.blog {
  margin-right: 1.12%;
  padding: 24px 20px 20px 20px;
  background-color: #fff;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog h4 {
  margin: 0;
  width: 290px;
  background-color: rgba(255, 255, 255, 0.8);
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.blog a:hover,
.blog a:focus {
  color: #e84d37;
}

.subscription {
  margin-left: 1.12%;
  background-image: url(../img/svg/bg-post.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.sub-wrapper {
  margin: 5px;
  padding: 13px 15px 5px 22px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.subscription p {
  color: #5a5a5a;
  margin-bottom: 35px;
}

.subscription-form {
  display: flex;
  margin-bottom: 31px;
}

.subscription-form input {
  flex: 0 1 100%;
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
}

.subscription-form button {
  margin-right: 5px;
  padding: 10px 20px;
}

/*---MAP---*/

.map-feedback-block-wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 900px;
}

.map-feedback-block {
  position: absolute;
  top: -375px;
  right: 2.24%;
  padding: 30px 25px;
  width: 302px;
  background-color: #fefefe;
  border-radius: 15px;
}

.adress {
  margin-bottom: 10px;
}

.map-feedback-block p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.map-feedback-block .bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-feedback-block a {
  font-size: 18px;
  line-height: 24px;
}

.phone-number a {
  color: #323232;
}

.phone-number p:first-child {
  margin-top: 19px;
  margin-bottom: 5px;
}

.map-feedback-block .btn {
  margin-top: 24px;
  display: block;
  padding: 11px 26px;
  width: 250px;
}

/*---FOOTER---*/

.footer-wrapper {
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-item a {
  display: block;
  margin-right: 13px;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social-item a:hover,
.social-item a:focus {
  border: 2px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social-item a:active {
  opacity: 0.8;
}

.social-tw {
  background-image: url(../img/svg/twitter.svg);
}

.social-in {
  background-image: url(../img/svg/instagram.svg);
}

.social-fb {
  background-image: url(../img/svg/fb.svg);
}

.social-vk {
  background-image: url(../img/svg/vk.svg);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-links-item {
  position: relative;
}

.footer-links-item a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-links-item a:hover,
.footer-links-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.footer-links-item:first-child a {
  font-weight: 700;
}

.footer-links-item:first-child a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.designby p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

/*---FEEDBACK FORM---*/

.modal-feedback {
  display: none;
  background-color: #f8f7f4;
}

.modal-feedback h2{
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
} 

/*===CATALOG.HTML===*/

.main-menu-link.active,
.sub-menu-link.active {
  background-color: #d07058;
}

.cart-btn.full {
  padding-right: 17px;
}

/*DROPDOWN-CART*/

.cart-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  width: 540px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  z-index: 5;
}

.user-block-cart:hover .cart-dropdown-wrapper,
.user-block-cart:focus .cart-dropdown-wrapper {
  display: block;
}

.cart-dropdown {
  padding-top: 12px;
  padding-left: 10px;
  font-size: 13px;
  color: #323232;
}

.cart-dropdown span {
  color: #999999;
}

.cart-dropdown tr:last-child {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.cart-dropdown tr {
  vertical-align: top;
}

.table-row td {

  padding-left: 10px;
  padding-top: 10px;
}

.table-row td:first-child {
  padding-left: 0;
}

.table-row td:nth-child(4) {
  padding-left: 16px;
}

.table-row td:last-child {
  padding-left: 25px;
  padding-right: 20px;
}

.item-name {
  padding-right: 10px;
  width: 240px;
  line-height: 18px;
}

.summary {
  border-top: 1px solid #cacac7;
  padding-top: 20px;
}

.cart-dropdown-wrapper .btn {
  margin-left: auto;
  margin-right: 13px;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 11px 10px;
  width: 170px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 25px; 
}

.cart-dropdown-wrapper .btn:hover {
  color: #ffffff;
}

/*---BREADCRUMBS---*/

.container-catalog .row {
  flex-wrap: wrap;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

/*---FILTER---*/

.container-catalog h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter {
  margin-bottom: 40px;
}

.filter-form {
  display: flex;
}

.filter-form h3,
.filter-form p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form label {
  line-height: 18px;
  font-weight: 500;
}

.fat-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
}

.filler-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-btn {
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 15px;
}

.filter-btn:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter select {
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.filter select:hover {
  color: #000000;
}

.catalog {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.catalog-item .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price span {
  font-size: 30px;
}

.catalog-item h3 {
  text-align: center;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

.catalog-item img {
  border-radius: 50%;
}

/*---PAGINATOR---*/

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font-weight: 500;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-list a:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50%;
}
